

/*.img{background:url(../images/img.png)  no-repeat;}*/
._11{height:63px;width:55px;background-position:0 0;}
._12{height:63px;width:55px;background-position:0 -63px;}
.arrow{height:62px;width:67px;background-position:-65px -22px;}
.music{height:72px;width:72px;background-position:-167px -24px;}
.photoFrame1{height:85px;width:84px;background-position:-17px -158px;}
.photoFrame2{height:85px;width:84px;background-position:-237px -131px;}
._2{height:130px;width:103px;background-position:-123px -115px;}
._8{height:152px;width:149px;background-position:-442px -187px;}
._9{height:150px;width:218px;background-position:-162px -266px;}
.ListenMusic{height:132px;width:220px;background-position:-599px -59px;}
.mvBtn{height:132px;width:222px;background-position:-346px -31px;}

